</div>
            <div class="col-md-2" style="background-color:#ffffff">
            </div>
        </div>
    </div>
    <script src="js/buscador.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>